<% content_for :head do %>
    <title> Dreamers' Day #5 @NTU,台大網路創業社群</title>
<% end %>

     <div class="bigtext">
        <h1>Dreamers' Day #5 @NTU</h1>
     </div>



<!--schedule-->

    <div class="dateplace">
      <div class="date">
      <h2>SCHEDULE</h2> 
      </div>
      
      <div class="detail">

      <p>18:30~19:00 報到、入場<br/>
      19:00~19:10 開場、活動介紹<br/>
      19:10~19:40 Lecture,Speaker<br/>
      19:40~20:20 Demo 分享<br/>
      20:20~21:30 交流、自由活動</p>
      </div>
    
    </div>
  
   <!--Sponsor--> 

     <div class="sponsor">
       
       <div class ="sponsortitle">
       <h2>SPONSORSHIP</h2>
       </div> 

      <div class="sponsorcontent">
     
         <div class="sponsorship">
            <a target="_blank" href="http://cardinalblue.com/"><img src="http://image-store.slidesharecdn.com/657f8aec-9200-11e2-849b-22000a93c50e-medium.png"></a>
         </div>
       
      </div>

     </div>
 
 
<!--speakerandteam--> 

      <div class="bigtitle">
        <div class="speakertitle">
        <h2>SPEAKERS & DEMO TEAMS</h2>
         </div>
       </div>
          
      <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh6.googleusercontent.com/-2Fkc3t3mnGk/UYPi7cCyOQI/AAAAAAAAAHg/WXQo7zuwNwo/s159/%25E6%259C%25AA%25E5%2591%25BD%25E5%2590%258D-1_1.jpg">

            </div>
            <div class="speakername">
            <h3>張朝騏  <small><a href="http://www.facebook.com/toppest">http://www.facebook.com/toppest</a></small></h3>
            </div>
            <div class="speakerdescription">
             <p>
            <br/>
            台大資訊系畢業，一直對於人與人及人與機器可以如何溝通的很感興趣，<br/>這興趣也帶給他進到麻省理工學院媒體實驗室這個大觀園的機會。從MIT<br/>
            畢業後，也將他的興趣應用在他所創立的"Flirq交友"網路交友服務，<br/>以及和YEF畢業生魏孝丞共同開發的手機App"Call Saver客服省錢通"上。<br/>
                 
            <a href="http://www.flirq.com/">Flirq,</a>
            <a href="http://callsaver.cc">Call Saver</a>

           </p>
           </div>
      </div>


       <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh4.googleusercontent.com/-TKFjRQqS_fw/UX053O9KouI/AAAAAAAAAGQ/0JllcStULhQ/s165/elubmicon.png">

            </div>
            <div class="speakername">
            <h3>elbum  <small><a href="http://elbum.in">http://elbum.in</a></small>
            </h3>
            </div>
            <div class="speakerdescription">
             <p>
            <br/>
           「elbum」是一個讓球隊或個人能夠紀錄並分析運動<br/>表現的網路服務。我們相信更好的表現來自精準的衡<br/>量與持續的修正。透過 「elbum」提供 “event by event”<br/> 的現場記錄方式，讓您可以更加輕鬆紀錄數據，提升<br/>
          團隊及個人的運動表現！<br/>
           </p>
           </div>
      </div>
     
          <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh3.googleusercontent.com/-cxbyuCGfaE8/UX06ESOQAEI/AAAAAAAAAGw/bTQfsCgHnOs/w165-h162/%25E8%259E%25A2%25E5%25B9%2595%25E5%25BF%25AB%25E7%2585%25A7-2013-04-28-%25E4%25B8%258B%25E5%258D%25888.14.png">

            </div>
            <div class="speakername">
            <h3>Driving Curve  <small><a href="http://www.drivingcurve.com/">http://www.drivingcurve.com/</a></small>
            </h3>
            </div>
            
            <br/>
            <div class="speakerdescription">
             <p>
              
              We've Created An APP<br/>
              to refine people's driving behavior<br/>
              to reduce unnecessary speed flucation that<br/>                      
              always causes unnecessary consumption<br/>
              or fuel and auto parts.<br/>
           </p>
           </div>
      </div>  

 
        <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh5.googleusercontent.com/-WrzvP_IMcDA/UYPr7WPqwdI/AAAAAAAAAIs/ZQk6n2QONi8/s165/308170_422447434479038_1843343429_n.png">

            </div>
            <div class="speakername">
            <h3>Chirpy策略布局與營運心得<small><a href="http://www.chirpy.tw/">http://www.chirpy.tw//</a></small>
            </h3>
            </div>
            
            <br/>
            <div class="speakerdescription">
             <p>
              1.你知道我們第一個官方案子，是怎麼來的嗎？<br/>
              2.校園活動廣場，應該是什麼？<br/>
              3.做有效率的事！<br/>              
                         </p>
           </div>
      </div>  

        <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh6.googleusercontent.com/-Ecpe1qnTghU/UYZxH9prxCI/AAAAAAAAAMk/OzT4yNyBM3Q/w180-h186/appicon_20130428_flat02_final.png">

            </div>
            <div class="speakername">
            <h3>LINQAPP<small><a href="http://www.linqapp.com/"> http://www.linqapp.com//</a></small>
            </h3>
            </div>
            
            <br/>
            <div class="speakerdescription">
             <p>
              LINQAPP (spoken like “Link Up”) is our first major product. <br/>Aimed at the millions of language learners around the world,<br/> LINQAPP is an ambitious attempt to change how people<br/> learn languages and get in touch with each other doing so.<br/>   </p>
           </div>
      </div>  



     </div>
    

<!--googledoc-->

    <div class="googledoc">
       <div class="googledocname">
      <a href="https://docs.google.com/forms/d/1F7ONMQYI9GLsl5HSt8vKyBiLILvGICCzxsj58A55QcI/viewform"><h2>REGISTER NOW</h2></a>
       </div>

       <div class="googledocframe">
<iframe src="https://docs.google.com/forms/d/1F7ONMQYI9GLsl5HSt8vKyBiLILvGICCzxsj58A55QcI/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>



       </div>

    <!--slideshare-->
<!--
    <div class="slideshare">
      <div class="slidesharename">
       <h2>THE FIRST YEAR REVIEW</h2></div>
      <div class="slidesharedetail">

      <iframe src="http://www.slideshare.net/slideshow/embed_code/14977394" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/roykung/dreamers-day-the-first-year-review" title="Dreamers&#39; Day - the first year review " target="_blank">Dreamers&#39; Day - the first year review </a> </strong> from <strong><a href="http://www.slideshare.net/roykung" target="_blank">Roy Lin</a></strong> </div>


      </div>

    </div> 
-->

    </div>
