<% content_for :head do %>
    <title> Dreamers' Day #5 @NTU,台大網路創業社群</title>
<% end %>

     <div class="bigtext">
        <h1>Dreamers' Day #5 @NTU</h1>
     </div>



<!--schedule-->

    <div class="dateplace">
      <div class="date">
      <h2>SCHEDULE</h2> 
      </div>
      
      <div class="detail">

      <p>18:30~19:00 報到、入場<br/>
      19:00~19:10 開場、活動介紹<br/>
      19:10~19:40 Lecture,Speaker<br/>
      19:40~20:20 Demo 分享<br/>
      20:20~21:30 交流、自由活動</p>
      </div>
    
    </div>
  
   <!--Sponsor--> 

     <div class="sponsor">
       
       <div class ="sponsortitle">
       <h2>SPONSOR</h2>
       </div> 

      <div class="sponsorcontent">

       <a href="http://dreamersday.tw/dreamersdonate.pdf">
        Dreamers' Day #5 徵求贊助</a>
      </div>

     </div>
 
 
<!--speakerandteam--> 

      <div class="bigtitle">
        <div class="speakertitle">
        <h2>SPEAKERS & DEMO TEAMS</h2>
         </div>
       </div>
       
       <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh4.googleusercontent.com/-TKFjRQqS_fw/UX053O9KouI/AAAAAAAAAGQ/0JllcStULhQ/s165/elubmicon.png">

            </div>
            <div class="speakername">
            <h3>elbum  <small><a href="http://elbum.in">http://elbum.in</a></small>
            </h3>
            </div>
            <div class="speakerdescription">
             <p>
            <br/>
           「elbum」是一個讓球隊或個人紀錄並分析其<br/>
            運動表現網路服務。我們相信更好的表現來<br/>
            自精準的衡量與持續的修正。透過 「elbum」<br/>
            提供 “event by event” 的現場記錄方式，<br/>
            讓您可以更加輕鬆紀錄數據，提升團隊及個人的運動表現！<br/>
           </p>
           </div>
      </div>
     
          <div class="speakercontent">
            <div class="avatar">
            <img src="https://lh3.googleusercontent.com/-cxbyuCGfaE8/UX06ESOQAEI/AAAAAAAAAGw/bTQfsCgHnOs/w165-h162/%25E8%259E%25A2%25E5%25B9%2595%25E5%25BF%25AB%25E7%2585%25A7-2013-04-28-%25E4%25B8%258B%25E5%258D%25888.14.png">

            </div>
            <div class="speakername">
            <h3>Driving Curve  <small><a href="http://www.drivingcurve.com/">http://www.drivingcurve.com/</a></small>
            </h3>
            </div>
            
            <br/>
            <div class="speakerdescription">
             <p>
              
              We've Created An APP<br/>
              to refine people's driving behavior<br/>
              to reduce unnecessary speed flucation that<br/>                      
              always causes unnecessary consumption<br/>
              or fuel and auto parts.<br/>
           </p>
           </div>
      </div>  

 








     </div>
    

<!--googledoc-->

    <div class="googledoc">
       <div class="googledocname">
      <h2>REGISTER NOW</h2>
       </div>

       <div class="googledocframe">
<iframe src="https://docs.google.com/forms/d/1F7ONMQYI9GLsl5HSt8vKyBiLILvGICCzxsj58A55QcI/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>



       </div>

    <!--slideshare-->
<!--
    <div class="slideshare">
      <div class="slidesharename">
       <h2>THE FIRST YEAR REVIEW</h2></div>
      <div class="slidesharedetail">

      <iframe src="http://www.slideshare.net/slideshow/embed_code/14977394" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/roykung/dreamers-day-the-first-year-review" title="Dreamers&#39; Day - the first year review " target="_blank">Dreamers&#39; Day - the first year review </a> </strong> from <strong><a href="http://www.slideshare.net/roykung" target="_blank">Roy Lin</a></strong> </div>


      </div>

    </div> 
-->

    </div>
