<% content_for :head do %>
    <title> Dreamers' Day #5 @NTU,台大網路創業社群</title>
<% end %>

     <div class="bigtext">
        <h1>Dreamers' Day #5 @NTU</h1>
     </div>



<!--schedule-->

    <div class="dateplace">
      <div class="date">
      <h2>SCHEDULE</h2> 
      </div>
      
      <div class="detail">

      <p>18:30~19:00 報到、入場<br/>
      19:00~19:10 開場、活動介紹<br/>
      19:10~19:40 Lecture,Speaker<br/>
      19:40~20:20 Demo 分享<br/>
      20:20~21:30 交流、自由活動</p>
      </div>
    
    </div>
  
 
 
<!--speakerandteam--> 

      <div class="bigtitle">
       <div class="speakertitle">
        <h2>SPEAKERS & DEMO TEAMS</h2>

       </div>
       
       <div class="speakercontent">
            <div class="avatar">
            <img src="https://photos-1.dropbox.com/t/0/AADKp2Wrn4tGC-F5FlJGG0B-mAsJaCJA5BwsFIqU1dHOZA/12/21757113/png/32x32/3/_/1/2/401326_58764391791497722_532010803_n.png/q4SKSNtZZ0_SVfZIZq9478dFx3H200CRlfHZJlo2V0M?size=1024x768">

            </div>
            <div class="speakername">
            <h3>林澤安 Zoe Lin     <small>    (生傳系籃球經)</small>
            </h3>
            </div>
            <div class="speakerdescription">
           <p>Facebook:/zoe.lin<br/>
           【不羈夜．倒數三天】<br/>
           我不擅言詞，但仍願意為你寫詩。<br/>
           我不擅舞蹈，但仍願意為你搖擺。<br/>
           我不擅歌唱，但仍願意為你對嘴！<br/>
          生傳之夜歌舞劇，保證有歌有舞又有劇。<br/>
           </p>
           </div>
      </div>
     </div>
    




<!--slideshare-->

    <div class="slideshare">
      <div class="slidesharename">
       <h2>THE FIRST YEAR REVIEW</h2></div>
      <div class="slidesharedetail">

      <iframe src="http://www.slideshare.net/slideshow/embed_code/14977394" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/roykung/dreamers-day-the-first-year-review" title="Dreamers&#39; Day - the first year review " target="_blank">Dreamers&#39; Day - the first year review </a> </strong> from <strong><a href="http://www.slideshare.net/roykung" target="_blank">Roy Lin</a></strong> </div>


      </div>

    </div>


<!--googledoc-->

    <div class="googledoc">
       <div class="googledocname">
      <h2>REGISTER NOW</h2>
       </div>

       <div class="googledocframe">
<iframe src="https://docs.google.com/forms/d/1F7ONMQYI9GLsl5HSt8vKyBiLILvGICCzxsj58A55QcI/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>



       </div>



    </div>
