<!DOCTYPE html>
<html>
<head>
  <title>Dreamersday</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis|Niconne' rel='stylesheet' type='text/css' />
	<meta property="og:title" content="dreamersday" />
	<meta property="og:type" content="school" />
	<meta property="og:url" content="http://dreamersday.herokuapp.com/" />
	<meta property="og:image" content="http://dreamersday.herokuapp.com/assets/dd2poster-9aac962f42d33b4d4cf6b4336c755426.png" />
	<meta property="og:site_name" content="dreamersday" />
	<meta property="fb:admins" content="100003544640331" />
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=219280174846988";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= yield %>

</body>
</html>
