<!DOCTYPE html>
<html>
  <head>
    <title>Dreamersday</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis|Niconne' rel='stylesheet' type='text/css' />
    <meta name="google-site-verification" content="J-rU6yTuArS9_3GZfXYy4buBeA8Lg_SoC5yHL2QRpkk" />
    <!-- Facebook OG -->
    <meta property="og:title" content="Dreamers&#039; Day" />
    <meta property="og:type" content="university" />
    <meta property="og:url" content="http://www.dreamersday.tw/" />
    <meta property="og:image" content="https://www.dropbox.com/s/32p9n2g5j1vlnne/Dreamersdaypic.001.jpg" />
    <meta property="og:site_name" content="Dreamers&#039; Day" />
    <meta property="fb:admins" content="100003544640331" />

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31015880-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
